{% extends 'base.html.twig' %}

{% block title 'Librairie Ozylvalou' %}

{% block body %}

    <div>
        <h1>{{book.title}}</h1>
        <p>{{book.price}} €</p>
        <p>{{book.isbn}}</p>
    </div>
    <div>
        <h1>{{author.lastName}}{{author.firstName}}</h1>
    </div>
{% endblock %}