{% extends 'base.html.twig' %}

{% block title 'Librairie Ozylvalou' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Ozylvalou</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam consequatur dignissimos dolores, ducimus et impedit ipsa natus nobis nulla</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'pages/_filter.html.twig' with {form : form} only %}
            </div>
            <div class="col-md-9">
                <h2>Les derniers livres</h2>
                <div class="row flex">
                    {% for book in books %}
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ path('book.show', {id: book.id}) }}">{{ book.title }}</a>
                                    </h5>
                                    <p class="card-text">{{ book['last_name'] }}</p>
                                    <p class="card-text">{{ book['first_name'] }}</p>
                                    <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ book.price }} €</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
