{% extends 'base.html.twig' %}

{% block body %}
<h2>Liste des livres:</h2>
    <ul>
        {% for book in books %}
            <li>
                "{{ book.title }}"  prix: {{ book.price }}€
                <a href="{{ path('admineditbook', {'id' : book.id })}}">Modifier ce livre</a>
                <a href="{{ path('adminremovebook', {'id' : book.id })}}">Supprimer ce livre</a>
            </li>
        {% endfor %}
    
    </ul>
<a href="{{ path('adminaddbook')}}">Ajouter un livre</a>
</br>
{% endblock %}
