{% extends 'base.html.twig' %}

{% block body %}
<h3>Bienvenue Admin</h3>
</br>
<a href="{{ path('adminaddbook')}}">Ajouter un livre</a>
</br>
<a href="{{ path('adminaddauthor')}}">Ajouter un auteur</a>
</br>
<a href="{{ path('admininvoices')}}">Consulter les factures</a>
</br>
<a href="{{ path('adminbooks')}}">Modifier les livres</a>
</br>
<a href="{{ path('adminauthors')}}">Modifier les auteurs</a>
</br>
{% endblock %}