{% extends 'baseadmin.html.twig' %}

{% block body %}
    <div class="container mt-4">
    <h2>Factures:</h2>
    <ul class="list-group list-group-flush">
        {% for invoice in invoices %}
            <li class="list-group-item">
                n° de facture: {{ invoice.id}} </br>
                commande effectuée le {{ invoice.date | date('d-m-Y')  }} prix HT: {{ invoice.priceHT }} prix TTC: {{ invoice.priceTTC }}
                </br>
                <a href="{{ path('admininvoiceinfo', {'id' : invoice.id })}}">Voir le détail</a>
            </li>
        {% endfor %}

    </ul>
    </br>
    </div>
{% endblock %}
